FRONTEND_PORT=3000
FRONTEND_ORIGIN=http://localhost:3000
BACKEND_PORT=8081
API_PUBLIC_URL=http://localhost:8081
POSTGRES_DB=wamigos
POSTGRES_USER=wamigos
POSTGRES_PASSWORD=wamigos-local
AI_BASE_URL=http://host.docker.internal:8000
AI_CONNECT_TIMEOUT=5s
AI_RESPONSE_TIMEOUT=25m
AI_HEALTH_TIMEOUT=3s
